APP_PORT=3000
APP_HOST=0.0.0.0
APP_DEBUG=false
APP_OS=GOWA
APP_BASIC_AUTH=
APP_BASE_PATH=
APP_TRUSTED_PROXIES=0.0.0.0/0

DB_URI=file:storages/whatsapp.db?_foreign_keys=on
DB_KEYS_URI=

WHATSAPP_AUTO_REPLY=
WHATSAPP_AUTO_MARK_READ=false
WHATSAPP_AUTO_REJECT_CALL=false
WHATSAPP_AUTO_DOWNLOAD_MEDIA=true
WHATSAPP_WEBHOOK=
WHATSAPP_WEBHOOK_SECRET=secret
WHATSAPP_WEBHOOK_INSECURE_SKIP_VERIFY=false
WHATSAPP_WEBHOOK_EVENTS=
WHATSAPP_WEBHOOK_INCLUDE_OUTGOING=false
WHATSAPP_ACCOUNT_VALIDATION=true
WHATSAPP_PRESENCE_ON_CONNECT=unavailable
WHATSAPP_PRESENCE_PULSE_ENABLED=true
WHATSAPP_PRESENCE_PULSE_INTERVAL=24h
WHATSAPP_PRESENCE_PULSE_DURATION=5m
WHATSAPP_CHAT_STORAGE=true

CHATWOOT_ENABLED=false
